@charset "UTF-8";

/* -----------------------------------------------------------
	CSS INFOMATION
	File Name  : font.css
	Style Info : font setting
----------------------------------------------------------- */

/* Font Setting
--------------------------------------------------*/
body {
	line-height: 1.7;
	color: #000;
	font-family: Helvetica, Arial, Verdana, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

html>/**/body { font-size: 14px;}

* + html body { font-family: "メイリオ","Meiryo";}

h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}

